html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 10%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  height: 100%;
  border: 1px black solid;
  display: flex;
}

aside {
  height: 100%;
  border: 1px black solid;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  width: 100%;
  height: 10%;
  border: 1px black solid;
  display: flex;
  align-items: center;
}

.cards-container {
  height: 100%;
  width: 100%;
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-me {
  width: 100%;
  border: 1px black solid;
  display: flex;
  align-items: center;
}

.about-me-paragraph {
  font-size: 14px;
  padding: 2%;
}

.top-card {
  height: 30%;
  width: 87%;
  border: 1px black solid;
  margin-top: 3%;
}

.half-card {
  height: 20%;
  width: 40%;
  border: 1px black solid;
  align-items: flex-end;
  display: flex;
}

.card-title {
  height: 40%;
  width: 30%;
  border: 1px black solid;
  position: relative;
  bottom: 10%;
}
.list-header-container {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.title-container {
  position: relative;
  left: 10%;
}

.title {
  position: relative;
  left: -133%;
}

.center-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.contact-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#about-me-aside {
  position: relative;
  bottom: 11%;
  left: 28%;
}
#projects-aside {
  position: relative;
  bottom: -2%;
  left: 28%;
}

#contact-aside {
  position: relative;
  bottom: -12%;
  left: 28%;
}
